<!DOCTYPE html>
<html ng-app="store">
<head>
<meta charset="US-ASCII">
<script src="../lib/angular/angular.min.js"></script>
<script src="ng_tutorial.js"></script>
<title>Insert title here</title>
</head>
<body>
	<p class="ng-binding">{{1 + 2}}</p>
	
</body>
<jhtml>
